@{
}

@model BooksViewModel

@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model= "b"/>
}
<div page-blah="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>
@*<h3>@b.Title</h3>

        <ul>
            <li>@b.Author</li>
            <li>@b.Publisher</li>
            <li>@b.Isbn</li>
            <li>@b.Classification</li>
            <li>@b.Category</li>
            <li>@b.PageCount</li>
            <li>@b.Price</li>
        </ul>
    }*@

@*<div page-blah="@Model.PageInfo" page-action="Index" page-class="btn" page-class-normal="btn-outline-dark" 
     page-class-selected="btn-primary" page-classes-enabled="true" class="btn-group" pull-right m-1></div>*@

@*<a asp-action="Index" asp-route-pageNum="1">1</a>
    <a asp-action="Index" asp-route-pageNum="2">2</a>
    <a asp-action="Index" asp-route-pageNum="3">3</a>*@
